<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/resources/img/iconografia/ico.ico"
            type="image/x-icon">
        <title>Informacion</title>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <% if(data.usuario != null && data.direccion == null) {%>
            <section class="smallerSection">
                <p class="listado_1" style="color: brown; font-weight: bold;">POR
                    FAVOR COMPLETA TUS DATOS PERSONALES</p>
            </section>
            <% } %>
            <section class="smallerSection">
                <p class="listado_1">Para actualizar o guardar nueva informacion
                    selecciona su espacio correspondiente</p>
            </section>
            <div class="sectionnomargin"
                style="display: flex; flex-direction: column">
                <section class="horizontalmidsection">
                    <div class="interactuable" id="user_big_img"
                        onclick="linkTo('usuario','informacion','actualizar','foto')">
                        <% if(data.usuario_img == null) {%>
                        <img src="/resources/img/iconografia/face.png"
                            alt="Imagen predeterminada">
                        <% }else{%>
                        <img class="usuario_img"
                            src="data:image/jpeg;base64,<%= data.usuario_img.toString('base64') %>"
                            alt="<% data.nombre %>">
                        <% } %>
                    </div>
                </section>
                <section class="horizontalmidsection">
                    <div class="textcontainer">
                        <h2 class="listado_1 interactuable"
                            onclick="linkTo('usuario','informacion','actualizar','nombre')">
                            <%= data.nombre %></h2>
                        <p class="formatparagraph animated-text">
                            <div class="listado_1"
                                style="display: flex; flex-direction:column; text-align: center;  width: 80%;">
                                <h4>Correo</h4>
                                <h3 class="listado_1 interactuable"
                                    onclick="linkTo('usuario','informacion','actualizar','correo')"><%=
                                    data.correo %></h3>
                            </div>

                            <div class="listado_1"
                                style="display: flex; flex-direction:column; text-align: center;  width: 80%;">
                                <h3 class="listado_1 interactuable"
                                    onclick="linkTo('usuario','informacion','actualizar','contrasenia')">Contraseña</h3>
                            </div>

                            <div class="listado_1"
                                style="display: flex; flex-direction:column; text-align: center;  width: 80%;">
                                <h4>Celular</h4>
                                <h3 class="listado_1 interactuable"
                                    onclick="linkTo('usuario','informacion','actualizar','celular')"><%=
                                    data.celular %></h3>
                            </div>

                            <div class="listado_1"
                                style="display: flex; flex-direction:column; text-align: center;  width: 80%;">
                                <h4>Direccion</h4>
                                <h3 class="listado_1 interactuable"
                                    onclick="linkTo('usuario','informacion','actualizar','direccion')"><%=
                                    data.direccion ? data.direccion :
                                    'direccion' %></h3>
                            </div>

                        </p>
                    </div>
                </section>
            </div>
            <section class="smallerSection" style="flex-direction: row;">
                <div class="listado_1 "
                    style="display: flex; flex-direction:column; text-align: center; width: 25%;"
                    onclick="linkTo('usuario','informacion','actualizar','identificacion')">
                    <h4>I.D</h4>
                    <h3 class="listado_1 interactuable"><%= data.identificacion
                        ? data.identificacion :
                        'Identificacion' %></h3>
                </div>

                <div class="listado_1"
                    style="display: flex; flex-direction:column; text-align: center; width: 25%;"
                    onclick="linkTo('usuario','informacion','actualizar','telefono')">
                    <h4>Tel.</h4>
                    <h3 class="listado_1 interactuable"><%= data.telefono ?
                        data.telefono :
                        'Telefono' %></h3>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>