<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Título de la página -->
        <title>Enjoyourpet - Información</title>
        <!-- Inclusión de archivos de estilos y metadatos -->
        <%- include("./partials/metalink.ejs") %>
    </head>
    <body>
        <!-- Inclusión de encabezado -->
        <%- include("./partials/header.ejs") %>
        <main>
            <!-- Sección para completar datos personales si falta información -->
            <% if(data.usuario != null && data.direccion == null) {%>
            <section class="adjustment">
                <!-- Mensaje para completar datos personales -->
                <p class="listado_1" style="color: brown; font-weight: bold;">POR
                    FAVOR COMPLETA TUS DATOS PERSONALES</p>
            </section>
            <% } %>
            <!-- Sección informativa -->
            <section class="adjustment">
                <!-- Mensaje general -->
                <p class="listado_1">Para actualizar o guardar nueva informacion
                    selecciona su espacio correspondiente</p>
            </section>
            <!-- Sección principal -->
            <section class="width-90 column" >
                <!-- Contenedor para información del usuario -->
                <div class="sectionnomargin"
                    style="display: flex; flex-direction: column">
                    <!-- Sección para la imagen del usuario -->
                    <section class="horizontalmidsection">
                        <div class="interactuable form__flex" id="user_big_img"
                            onclick="linkTo('usuario','informacion','actualizar','foto')">
                            <!-- Imagen predeterminada o del usuario -->
                            <% if(data.usuario_img == null) {%>
                            <img src="/resources/img/iconografia/face.png"
                                alt="Imagen predeterminada">
                            <% }else{%>
                            <img class="usuario_img"
                                src="data:image/jpeg;base64,<%= data.usuario_img.toString('base64') %>"
                                alt="<% data.nombre %>">
                            <% } %>
                        </div>
                    </section>
                    <!-- Sección para detalles del usuario -->
                    <section class="width-90">
                        <div class="textcontainer">
                            <!-- Nombre del usuario -->
                            <h2 class="listado_1 interactuable"
                                onclick="linkTo('usuario','informacion','actualizar','nombre')">
                                <%= data.nombre %></h2>
                            <p class="formatparagraph animated-text">
                                <!-- Detalles del usuario -->
                                <div class="listado_1"
                                    style="display: flex; flex-direction:column; text-align: center;">
                                    <!-- Correo -->
                                    <h4>Correo</h4>
                                    <h3 class="listado_1 interactuable"
                                        onclick="linkTo('usuario','informacion','actualizar','correo')"><%=
                                        data.correo %></h3>
                                </div>
                                <!-- Contraseña -->
                                <div class="listado_1"
                                    style="display: flex; flex-direction:column; text-align: center;">
                                    <h3 class="listado_1 interactuable"
                                        onclick="linkTo('usuario','informacion','actualizar','contrasenia')">Contraseña</h3>
                                </div>
                                <!-- Celular -->
                                <div class="listado_1"
                                    style="display: flex; flex-direction:column; text-align: center;">
                                    <h4>Celular</h4>
                                    <h3 class="listado_1 interactuable"
                                        onclick="linkTo('usuario','informacion','actualizar','celular')"><%=
                                        data.celular %></h3>
                                </div>
                                <!-- Dirección -->
                                <div class="listado_1"
                                    style="display: flex; flex-direction:column; text-align: center;">
                                    <h4>Dirección</h4>
                                    <h3 class="listado_1 interactuable"
                                        onclick="linkTo('usuario','informacion','actualizar','direccion')"><%=
                                        data.direccion ? data.direccion :
                                        'direccion' %></h3>
                                </div>
                            </p>
                        </div>
                    </section>
                </div>
                <!-- Sección para identificación y teléfono -->
                <section class="smallerSection" style="flex-direction: row;">
                    <!-- Identificación -->
                    <div class="listado_1 "
                        style="display: flex; flex-direction:column; text-align: center;"
                        onclick="linkTo('usuario','informacion','actualizar','identificacion')">
                        <h4>I.D</h4>
                        <h3 class="listado_1 interactuable"><%= data.identificacion
                            ? data.identificacion :
                            'Identificacion' %></h3>
                    </div>
                    <!-- Teléfono -->
                    <div class="listado_1"
                        style="display: flex; flex-direction:column; text-align: center;"
                        onclick="linkTo('usuario','informacion','actualizar','telefono')">
                        <h4>Tel.</h4>
                        <h3 class="listado_1 interactuable"><%= data.telefono ?
                            data.telefono :
                            'Telefono' %></h3>
                    </div>
                </section>
            </section>
        </main>
        <!-- Inclusión de pie de página -->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
