<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Enjoyourpet - Aprende</title>
    <%- include("./partials/metalink.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <div class="sectionnomargin">
        <% posts.forEach(post => { %>
        <section>
          <div class="horizontalmidsection" style="flex-direction: column">
            <h2 class="listado_1 center"><%= post.titulo_post %></h2>

            <div class="imgcontainer">
              <img
                id="user_big_img"
                class="usuario_img"
                src="data:image/jpeg;base64,<%= post.imagen_post.toString('base64') %>"
                alt="imagen del post"
              />
            </div>

            <p class="listado_1 article__desc"><%= post.contenido_post %></p>
            <div class="grid">
              <% if (data.usuario != null) { %>
              <div
                class="like_button_container"
                onclick="meGustaPost('<%= post.id_post %>')"
              >
                <h3>Me Gusta</h3>
                <span class="likes-count" id="likes-count-<%= post.id_post %>"
                  ><%= post.meGusta_post %></span
                >
              </div>
              <div
                class="like_button_container"
                onclick="noMeGustaPost('<%= post.id_post %>')"
              >
                <h3>No Me Gusta</h3>
                <span
                  class="dislikes-count"
                  id="dislikes-count-<%= post.id_post %>"
                  ><%= post.noMeGusta_post %></span
                >
              </div>
              <% } else { %>
              <div
                onclick="linkTo('cuenta/iniciar-sesion')"
                class="like_button_container"
              >
                <span class="meGusta-span center"> Me Gusta </span>
                <span class="likes-count center"><%= post.meGusta_post %></span>
              </div>
              <div
                onclick="linkTo('cuenta/iniciar-sesion')"
                class="like_button_container"
              >
                <span class="noMeGusta-span center"> No Me Gusta </span>
                <span class="dislikes-count center"
                  ><%= post.noMeGusta_post %></span
                >
              </div>
              <% } %>
            </div>
          </div>
        </section>
        <% }); %>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script src="/resources/js/async.js"></script>
  </body>
</html>
