<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Enjoyourpet - <%= data.usuario %></title>
    <%- include("./partials/metalink.ejs") %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="width-90" id="carousel-container">
        <div id="carousel">
          <div id="carousel-text"><h1></h1></div>
          <img
            class="img-carousel hide"
            src="/resources/img/carousel/001.jpg"
            alt="imagen 1 del carousel"
          />
          <img
            class="img-carousel hide"
            src="/resources/img/carousel/002.jpg"
            alt="imagen 2 del carousel"
          />
          <img
            class="img-carousel hide"
            src="/resources/img/carousel/003.jpg"
            alt="imagen 3 del carousel"
          />
          <img
            class="img-carousel hide"
            src="/resources/img/carousel/004.jpg"
            alt="imagen 4 del carousel"
          />
          <img
            class="img-carousel hide"
            src="/resources/img/carousel/005.jpg"
            alt="imagen 5 del carousel"
          />
        </div>
      </section>
      <% if(productos.length > 0) {%>
      <section class="width-90" id="productosContainer">
        <% productos.forEach(producto => { %>
        <div
          class="productocontainer"
          onclick="linkTo('ver','producto','<%= producto.id_producto %>')"
        >
          <h5 class="productotitulo"><%= producto.nombre %></h5>
          <img
            class="producto_img"
            src="data:image/jpeg;base64,<%= producto.imagen_producto.toString('base64') %>"
            alt="imagen del producto"
          />
          <h3 class="listado_1 article__price">$ <%= producto.precio %> COP</h3>
        </div>
        <% }) %>
      </section>
      <% } else { %>
      <section style="flex-direction: column">
        <div class="listado_1">
          <h1 class="listado_1">¡SE ACABARON!</h1>
          <h3>lo sentimos, ya no tenemos mas productos para ofrecer.</h3>
        </div>
        <div class="btn__flex">
          <a href="/vender" class="btn__eyp btnshwanim--blur btn__hover--blur"
            >Vende ahora</a
          >
        </div>
      </section>
      <% } %>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/resources/js/carousel.js"></script>
    <script src="/resources/js/anim.js"></script>
  </body>
</html>
