<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Enjoyourpet - Mascota</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="/resources/img/iconografia/ico.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/resources/css/body.css" />
    <link rel="stylesheet" href="/resources/css/footer.css" />
    <link rel="stylesheet" href="/resources/css/header.css" />
    <link rel="stylesheet" href="/resources/css/modal.css" />
    <link rel="stylesheet" href="/resources/css/root.css" />
    <link rel="stylesheet" href="/resources/css/gradient.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section class="verticalSection width-90">
        <h1 class="XS-Section">CONOCE A TU POSIBLE COMPAÑERO</h1>
        <div
          class="sectionnomargin"
          style="flex-direction: row; gap: 1rem; flex-wrap: wrap"
        >
          <section
            class="horizontalmidsection secondary-color position-relative"
          >
            <div
              class="imagen-interactuable-container"
              onclick="openModal('modal-imgs-adopcion')"
            >
              <div class="imagen-interactuable-cortinilla"></div>
              <img
                src="data:image/jpeg;base64,<%= imagenes[0].imagen.toString('base64') %>"
                alt="imagen de la mascota"
              />
            </div>
          </section>
          <section class="horizontalmidsection">
            <div class="XS-Section">
              <h1><%= mascota.Nombre %></h1>
            </div>
            <div class="info">
              <h2>Edad:</h2>
              <p><%= mascota.Edad %></p>
            </div>
            <div class="info">
              <h2>Sexo:</h2>
              <p>
                <% if(mascota.Sexo == 0){ %> <%= 'Hembra' %> <% }else{ %><%=
                'Macho' %> <% } %>
              </p>
            </div>
          </section>
        </div>
        <section class="verticalSection">
          <div
            class="medio-margin interactuable"
            onclick="DeplegarSeccion('Ficha-De-Informacion')"
          >
            <h1>Ficha De Informacion</h1>
          </div>
          <section
            id="Ficha-De-Informacion"
            class="verticalSection"
            style="display: none"
          >
            <div class="samallSection botom-border">
              <div class="XS-Section">
                <h1>Informacion Básica</h1>
              </div>
              <div class="info">
                <h2>Nombre:</h2>
                <p><%= mascota.Nombre %></p>
              </div>
              <div class="info">
                <h2>Especie:</h2>
                <p><%= mascota.Especie %></p>
              </div>
              <div class="info">
                <h2>Raza:</h2>
                <p><%= mascota.Raza %></p>
              </div>
              <div class="info">
                <h2>Edad:</h2>
                <p><%= mascota.Edad %></p>
              </div>
              <div class="info">
                <h2>Sexo:</h2>
                <p>
                  <% if(mascota.Sexo == 0){ %> <%= 'Hembra' %> <% }else{ %><%=
                  'Macho' %> <% } %>
                </p>
              </div>
            </div>

            <div class="samallSection medio-margin">
              <div class="XS-Section">
                <h1>Personalidad</h1>
              </div>
              <div class="info">
                <h2>Personalidad:</h2>
                <p><%= mascota.Personalidad %></p>
              </div>
            </div>

            <div class="samallSection medio-margin">
              <div class="XS-Section">
                <h1>Historia</h1>
              </div>
              <div class="info">
                <h2>Historia:</h2>
                <p><%= mascota.Historia %></p>
              </div>
            </div>

            <div class="samallSection medio-margin">
              <div class="XS-Section">
                <h1>Comportamiento</h1>
              </div>
              <div class="info">
                <h2>Con Niños:</h2>
                <p><%= mascota.C_Niños %></p>
              </div>
              <div class="info">
                <h2>Con Otros Animales:</h2>
                <p><%= mascota.C_Animales %></p>
              </div>
            </div>

            <div class="samallSection medio-margin">
              <div class="XS-Section">
                <h1>Requisitos de Adopción</h1>
              </div>
              <div class="info">
                <h2>Requisitos:</h2>
                <p><%= mascota.Requisitos %></p>
              </div>
            </div>
          </section>
        </section>
        <div
          class="XS-Section interactuable"
          onclick="linkTo('usuario/adoptar/mascota','<%= id %>','<%= mascota.idDueno %>')"
        >
          <div class="XS-Section">
            <h1>Adoptar</h1>
          </div>
        </div>
      </section>
    </main>
    <section id="modal-imgs-adopcion" class="modal">
      <link rel="stylesheet" href="/resources/css/modal.css" />
      <div class="modal_container">
        <div class="collage_container">
          <% imagenes.forEach(imagen => { %>
          <img
            class="img_collage"
            src="data:image/jpeg;base64,<%= imagen.imagen.toString('base64') %>"
            alt="imagen de la mascota"
          />
          <% }) %>
        </div>
        <div
          class="close_modal interactuable"
          onclick="closeModal('modal-imgs-adopcion')"
        >
          X
        </div>
        <div class="leftbuttoncontrol" onclick="changeImage_adopcion('left')">
          <
        </div>
        <div class="rightbuttoncontrol" onclick="changeImage_adopcion('right')">
          >
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script src="/resources/js/modals.js"></script>
    <script src="/resources/js/modalcollageImages.js"></script>
  </body>
</html>
